<section class="our-webcoderskull container">
  <h3 style="color: rgb(211, 24, 24)" class="m-4">About</h3>
  <div class="justify-content-center">
    <p class="m-20" style="font-size: large">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus
      libero dicta omnis molestiae, excepturi dolorem! Illo mollitia repellendus
      inventore adipisci neque cupiditate veniam facilis fugit perferendis
      sapiente, libero a!
    </p>
    <br /><br /><br />
  </div>
  <hr />
  <h3 style="color: rgb(211, 24, 24)" class="m-4 center">Team</h3>

  <ul class="row justify-content-center">
    <div class="card m-3" style="width: 18rem">
      <img src="./../../../assets/img/yas.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6>Yasmin Fathy</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <img src="./../../../assets/img/h3.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6>Hadeer Omar</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <img src="./../../../assets/img/ma.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6>Manar Eid</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <img src="./../../../assets/img/ma.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6>Laila Samir</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </ul>
</section>
